$gray-100: #FAFAFA;
$gray-200: #EEE;
$gray-300: #DDD;
$gray-400: #CCC;
$gray-500: #999;
$gray-900: #333;
$border-color-soft: rgb(221, 221, 221);
$success-semi-dark: #00B797;
$success-light: #F2FBFA;
$achromatic-white: #FFFFFF;
